body {
    margin-top: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;

}
dialog::backdrop {
    background: linear-gradient(#e66465, #9198e5);
    opacity: 0.2;
}

dialog menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 1rem;
}

.green-yes {
    color: green;
    font-weight: bold;
}

.red-no {
    color: red;
    font-weight: bold;
}

.second-nesting {
    margin-left: 3rem;
    color: green
}

.third-nesting {
    margin-left: 5rem;
    color: darkgreen;
}

.stairs-img {
    width: 20%;
    height: auto;
    margin: auto;
    display: flex;
}

.match:hover {
    background-color: pink;
}
